<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://code.alibabatech.com/schema/dubbo
          http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--扫描包-->
    <context:component-scan base-package="demo.manager.service,demo.manager.dao"/>

    <!--引入配置文件-->
    <context:property-placeholder location="classpath:db.properties,classpath:fastdfs.properties,classpath:redis.properties,classpath:rcmq.properties"></context:property-placeholder>
    <import resource="classpath:spring-mybatis-config.xml"></import>
    <import resource="classpath:spring-redis-config.xml"></import>


    <!--定义了提供方应用信息，用于计算依赖关系；在 dubbo-admin 或 dubbo-monitor 会显示这个名字，方便辨识-->
    <dubbo:application name="taotao-manager-service" owner="sj" organization="itszt"/>
    <!--使用 zookeeper 注册中心暴露服务，注意要先开启 zookeeper-->
    <dubbo:registry address="zookeeper://192.168.3.213:2181"/>
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="28082" />
    <!--使用 dubbo 协议实现定义好的 api.PermissionService 接口-->
    <dubbo:service interface="demo.manager.service.inter.GoodsItemService" ref="goodsServiceImpl" protocol="dubbo" />
    <dubbo:service interface="demo.manager.service.inter.ContentService" ref="contentServiceImpl" protocol="dubbo" />

    <!--配置一个freemarker 的config-->
    <bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"></property>
    </bean>
    <bean class="demo.common.FreemarkerCacheUtil">
        <property name="configuration" ref="freeMarkerConfigurer"></property>
        <property name="cacheFTLPath" value="D:\taotaoFtls"></property>
    </bean>

    <bean id="managerConsumer" class="demo.manager.consumer.ManagerConsumer"></bean>


    <bean id="rocketmqProduct" class="org.apache.rocketmq.client.producer.DefaultMQProducer" init-method="start" destroy-method="shutdown">
        <property name="producerGroup" value="ProducertaotaoShopcar"/>
        <property name="namesrvAddr" value="192.168.3.213:9876"/>
    </bean>

    <bean id="rocketmqConsumer" class="org.apache.rocketmq.client.consumer.DefaultMQPushConsumer" init-method="start" destroy-method="shutdown">
        <property name="consumerGroup" value="ConsumetaotaoManager"/>
        <property name="namesrvAddr" value="192.168.3.213:9876"/>
        <property name="messageListener" ref="managerConsumer"/>
        <property name="pullBatchSize" value="1"></property>
        <property name="consumeThreadMin" value="1"></property>
        <property name="consumeThreadMax" value="1"></property>

        <property name="subscription">
            <map>
                <entry key="managerTopic">
                    <value>*</value>
                </entry>
            </map>
        </property>
    </bean>

</beans>
